<!--
     
     Team #3 -- OOSD Threaded Project Part 1
     order.ejs
     
     This file contains the order page for the Travel Experts website.
     
     Authors: Grayson Germsheid
-->
<!-- Include the standard header -->
<%- include('header') %>
    <style>
      .package-image {
          width: 100%;

          object-fit:cover;
          border-radius: 5px;

      }

      #package-container {
        width: 45%;
        min-width: 550px;
      }

      @media (max-width: 574px)
      {
        #booking-container, #package-container {
          min-width: 394px;
        }
      }

    </style>
    <title><%= package.name %></title>
  </head>
  <body onload="update_group_size();">
    <%- include('navbar') %>
    <main>
      <div class="container mx-auto py-3">
        <div class="row mb-3">
          <!-- One column for the package information, filled in by EJS -->
          <div id="package-container" class="col">
            <img class="package-image"
                 src="/media/package-<%= package.id %>.jpg"/>
            <h1 class="display-4 fw-normal"><%= package.name %></h1>
            <h3 class="text-muted"><%= package.sdate %> &ndash; <%- package.edate %></h3> 
            <p class="fs-5">
              <%= package.desc %>
            </p>
          </div>
          <!-- One column for the booking details, with the form -->
          <div id="booking-container" class="col ms-lg-3">
            <h2>Booking Details</h2>
            <!-- Use the express /abc/:parameter/xyz syntax for the action -->
            <form method="post" action="/packages/<%= package.id %>/order">
              <div id="booking-details" class="container pt-1 pb-2 ps-1">
                <div class="row">
                  <div class="w-50">
                    <label for="trip-type" class="form-label">Trip Type:</label>
                    <select id="trip-type" name="orderType" class="form-select" required onchange="update_group_size();">
                      <% for (let i = 0; i < trip_types.length; i++) { %>
                        <option value="<%- trip_types[i].id %>">
                          <%- trip_types[i].name %>
                        </option>
                      <% } %>
                    </select>
                  </div>
                  <div class="w-50" id="group-size-col">
                    <label for="group-size" class="form-label">Group Size:</label>
                    <input  type="number"
                            id="group-size"
                            class="form-control"
                            value="1" min="1" max="10"
                            name="orderSize" 
                            onchange="update_group_size()"
                            required>
                  </div>
                </div>
              </div>
              <h2 class="pt-3">Client Details</h2>
              <div id="order-details" class="container pt-1 pb-2 ps-1">
                <!-- Since we don't actually have login functionality implemented this asks for the
                     user's credentials -->
                <div class="row">
                  <div class="col">
                    <label for="email" class="form-label mb-0">Email:</label>
                    <input type="email" id="email" class="form-control" placeholder="name@example.com" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" name="CustEmail" required>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col">
                    <label for="password" class="form-label mb-0 mt-2">Password:</label>
                    <input type="password" class="form-control" placeholder="Password" name="password" id="password-input" required/>
                    <div class="valid-feedback">Good</div>
                    <div class="invalid-feedback">Wrong</div>
                  </div>
                </div>
                <!-- A table to summarize the order price stuff -->
                <table class="table mt-4 mb-2">
                  <thead>
                    <tr class="table-light">
                      <th colspan="2">Item</th>
                      <th class="text-end">Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Package</td>
                      <td>x<span id="booking-qty">1</span></td>
                      <td class="text-end">&dollar;<span id="booking-price">0.00</span></td>
                    </tr>
                    <!--
                    -- Removed the commission line-item
                    <tr>
                      <td colspan="2">Agency Commission</td>
                      <td class="text-end">&dollar;<span id="booking-commission">0.00</span></td>
                    </tr>
                    -->
                    <tr class="table-light">
                      <td colspan="2" class="fw-bolder text-end">Subtotal:</td>
                      <td class="fw-bolder text-end">&dollar;<span id="booking-subtotal">0.00</span></td>
                    </tr>
                    <tr>
                      <td>Tax</td>
                      <td><span id="booking-tax-rate">0</span>%</td>
                      <td class="text-end">&dollar;<span id="booking-tax">0.00</span></td>
                    </tr>
                    <tr class="table-light">
                      <td colspan="2" class="fw-bolder text-end">Total:</td>
                      <td class="fw-bolder text-end">&dollar;<span id="booking-total">0.00</span></td>
                    </tr>
                  </tbody>
                </table>
                <div class="my-2 form-check">
                  <input class="form-check-input" type="checkbox" value="" id="payment-check" name="orderUseSavedPayment"
                         checked="checked"/>
                  <label class="form-check-label" for="payment-check" style="vertical-align: top;">Use saved payment</label>
                </div>
                <div class="row">
                  <button class="btn btn-lg btn-primary ms-auto" type="submit">Checkout</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <script>
      // Get the package object by inserting the table as a string on the server side
      var package = <%- JSON.stringify(package) %>;
      var qty = 1;          // group size
      const taxRate = 5;    // tax rate (%)

      /* Hides / shows the group size select element
       * also sets the qty for non-group trip types
       */
      function update_group_size()
      {
          let type = document.getElementById("trip-type").value;
          let size_elem = document.getElementById("group-size-col");
          let size_select = document.getElementById("group-size");

          if (type === "G")
          {
              size_elem.classList.remove("d-none");
              qty = parseInt(size_select.value);
              console.log("set qty to " + qty);
          }
          else
          {
              size_elem.classList.add("d-none");
              qty = 1;
          }

        update_price();
      }

      /*
       * Updates the information in the price table
       */
      function update_price()
      {
          let eBookingTaxRate    = document.getElementById("booking-tax-rate");
          let eBookingQty        = document.getElementById("booking-qty");
          let eBookingPrice      = document.getElementById("booking-price");
          // don't show commission
          // let eBookingCommission = document.getElementById("booking-commission");
          let eBookingTax        = document.getElementById("booking-tax");
          let eBookingSubtotal   = document.getElementById("booking-subtotal");
          let eBookingTotal      = document.getElementById("booking-total");

          // calculate price, comission, tax, subtotal, and total amts
          let price = package.bprice * qty;
          //let commission = package.cprice;
          //let subtotal = price + commission;
          let subtotal = price;
          let taxAmt = subtotal * (taxRate / 100);
          let total = price /* + commission */ + taxAmt;

          eBookingTaxRate.innerHTML = "5";
          eBookingQty.innerHTML = qty;
          eBookingPrice.innerHTML = price.toFixed(2);
          // don't show commission -- included in price
          // eBookingCommission.innerHTML = commission.toFixed(2);
          eBookingSubtotal.innerHTML = subtotal.toFixed(2);
          eBookingTax.innerHTML = taxAmt.toFixed(2);
          eBookingTotal.innerHTML = total.toFixed(2);
      }
    </script>
  </body>
</html>
